In [12]:
def convert_format(input_file, output_file):
    with open(input_file, 'r') as infile, open(output_file, 'w') as outfile:
        # Read the input file line by line
        for line in infile:
            #print(line)
            # Split the line into parts based on tabs
            parts = line.rstrip('\n').split('\t')
            print(parts)
            label = parts[0].strip()  # Label (e.g., 0, 1)
            images = parts[1].split(';')  # The list of image names
            
            # Write each image name followed by the label in the desired format
            for image in images:
                image = image.strip()
                outfile.write(f"{image}\t{label}\n")

# Example usage
input_file = '../update_gt.txt'
output_file = 'datasets/CHAM/anno/ct_test.txt'
convert_format(input_file, output_file)

['0', 'N°114 1a seal.png; N°101 6a seal.png; N°378 2b.png; N°289 1b sceau.png; N°115 1a seal.png; N°111 1b seal.png; N°125 1b seal.png; N°120 3a seal.png; N°300 1b sceau4.png; N°97 9b-10s seal.png; N°112 1b seal.png; N°315 1b sceau1.png; N°342 6a sceau.png; N°392 8b.png; N°131 1b seal.png; N°474 1b sceau1.png']
['1', 'N°446 3a.png; N°302 3b sceau.png; N°388 5b.png']
['2', 'N°338 3b sceau.png; N°300 2a sceau2.png']
['3', 'N°453 1b sceau2.png; N°320 1b sceau1.png']
['4', 'N°316 12b sceau3.png; N°316 10b sceau3.png; N°316 5b sceau3.png; N°313 1b sceau3.png; N°399 1b sceau2.png; N°128 4a seal.png; N°326 1b sceau3.png']
['5', 'N°356 1b.png; N°356 7b sceau.png']
['6', 'N°435 1b.png; N°411 1b.png; N°434 1b.png; N°135 4b-5a seal.png; N°135 2b-3a seal.png']
['7', 'N°100 1b seal.png']
['8', 'N°280 2a sceau3.png']
['9', 'N°297 1b sceau2.png; N°459 1a.png; N°349 1b sceau1.png']
['10', 'N°426 5a.png']
['11', 'N°429 6b.png; N°117 5b seal.png; N°139 9b seal.png']
['12', 'N°408 2b.png; N°308 10a sceau.png; N°308 9a sceau1.png']
['13', 'N°329 1b s<ceau1.png; N°329 3b sceau1.png; N°329 4b sceau2.png; N°370 33a.png; N°310 1b sceau1.png; N°310 2b sceau1.png; N°431 6b.png; N°317 1b sceau1.png; N°399 5b sceau1.png; N°310 3b sceau1.png']
['14', 'N°336 2b sceau.png; N°333 7b sceau.png']
['15', 'N°419 3a.png']
['16', 'N°328 2b sceau1.png; N°328 4b sceau1.png']
['18 ', 'N°458 1b sceau1.png; N°137 3a seal.png; N°316 2b sceau1.png; N°316 4b sceau1.png; N°316 10b sceau1.png; N°321 1b sceau1.png; N°316 8b sceau1.png; N°313 1b sceau1.png; N°316 12b sceau1.png; N°316 13b sceau1.png']
['19', 'N°426 3a.png; N°426 2a.png; N°426 1a.png']
['20', 'N°428 4b.png']
['21 ', 'N°329 1b sceau3.png; N°317 1b sceau3.png; N°312 1b sceau3.png; N°399 5b sceau2.png; N°310 1a sceau.png; N°370 31b sceau.png; N°447 1b sceau1.png; N°285 1b sceau2.png; N°292 1b sceau2.png']
['22', 'N°419 2b sceau2.png; N°419 2b sceau1.png; N°419 3a sceau1.png']
['23', 'N°474 1b sceau2.png; N°324 1b sceau2.png']
['24', 'N°329 4b sceau1.png; N°312 2b sceau1.png; N°312 4b sceau1.png; N°312 6b sceau1.png; N°447 1b sceau2.png; N°447 3b.png']
['25', 'N°432 3a.png; N°432 3b.png; N0°432 5a.png']
['26', 'N°133 5b seal.png; N°133 14a seal.png; N°133 16b seal.png']
['27', 'N°133 16b seal bis.png']
['28', 'N°317 1b sceau2.png; N°310 2b sceau2.png; N°312 2b sceau2.png; N°316 11b sceau2.png; N°316 4b sceau2.png; N°326 1b sceau2.png; N°313 1b sceau2.png; N°309 1b sceau3.png; N°316 8b sceau2.png; N°316 12b sceau2.png; N°399 5b sceau3.png; N°329 3b sceau2.png; N°292 1b sceau3.png; N°318 1b sceau2.png; N°315 1b sceau2.png; N°328 3b sceau2.png; N°285 1b sceau3.png; N°316 9b sceau2.png; N°328 2b sceau2.png; N°312 3b sceau2.png; N°325 1b sceau2.png; N°316 5b sceau2.png']
['29', 'N°415 2b.png']
['30', 'N°300 1b sceau3.png; N°300 1b sceau2.png']
['31', 'N°475 16b.png; N°420 9b.png; N°420 13a.png; N°107 14a seal.png; N°475 13b-14a.png; N°475 10a.png; N°475 8b.png; N°420 8b.png; N°118 1b seal.png; N°413 10b-11a.png; N°420 7b.png; N°105 3b seal.png; N°96 1b seal.png; N°413 6b.png; N°98 11a seal.png; N°413 3b.png; N°475 8a.png; N°418 4b.png; N°124 1a seal.png; N°121 1b seal.png; N°122 1a seal.png; N°123 2a seal.png; N°374 1b.png']
['32', 'N°312 5b sceau2.png; N°312 4b sceau2.png']
['33', 'N°426 4b.png']
['34', 'N°327 1b sceau2.png; N°328 4b sceau2.png']
['35', 'N°426 1b.png']
['36', 'N°426 5b.png']
['37', 'N°390 1b.png; N°459 1b.png; N°390 1b sceau2.png; N°284 1b sceau2.png']
['38', 'N°437 1b.png']
['39', 'N°394 2b sceau.png; N°394 2b.png']
['40', 'N°450 3b.png']
['41', 'N°300 1b sceau4.png']
['42', 'N°113 6a seal.png ']

In [18]:
import pandas as pd
import os

In [20]:
t = pd.read_csv('datasets/CHAM/anno/ct_train.txt',sep="\t",header=None,names=['ImageName', 'label'],encoding='utf-8')

In [21]:
t

               ImageName  label
0      N°185 4b-5a_1.jpg      0
1    N°185 4b-5a_1_0.jpg      0
2    N°185 4b-5a_1_1.jpg      0
3    N°185 4b-5a_1_2.jpg      0
4    N°185 4b-5a_1_3.jpg      0
..                   ...    ...
609       N°459 1b_5.jpg     52
610       N°459 1b_6.jpg     52
611       N°459 1b_7.jpg     52
612       N°459 1b_8.jpg     52
613       N°459 1b_9.jpg     52

[614 rows x 2 columns]

In [22]:
print(pd.__version__)

2.0.3